{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'question/css/styles.css' %}">
<script src="{% static 'question/js/scripts.js' %}"></script>
{% endblock %}

{% block branding %}
<div id="branding">
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">CustomK Admin</a>
    </h1>
    <div id="notification-bell">
        <a href="{% url 'admin:notifications_notification_changelist' %}">
            <span class="bell-icon" id="notification-icon">
                🔔
            </span>
            <span class="badge" id="notification-badge" style="display: none;"></span>
        </a>
    </div>
</div>
{% endblock %}
