{% extends "admin/base.html" %}

{% block extrahead %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // WebSocket 연결 설정
            // TODO 아래 로컬 주소 변경 해야 할 수도 있음
            const notificationSocket = new WebSocket(
                'ws://' + '127.0.0.1:8000' + '/ws/notifications/'
            );

            // WebSocket 메시지 수신 처리
            notificationSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const notification = data.notification;

                // 화면에 알림 표시
                alert('새로운 알림: ' + notification);

                // 또는 더 나은 사용자 경험을 위해 페이지에 알림 추가하기
                const notificationElement = document.createElement('div');
                notificationElement.className = 'notification';
                notificationElement.innerText = notification;
                document.body.appendChild(notificationElement);
            };

            // WebSocket 연결 오류 처리
            notificationSocket.onclose = function(e) {
                console.error('Notification WebSocket closed unexpectedly');
            };

            notificationSocket.onerror = function(e) {
            console.error('WebSocket error:', e);

            };
        });
    </script>

    <style>
        /* 알림의 스타일을 정의할 수 있습니다 */
        .notification {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background: #ffdddd;
            padding: 10px;
            border: 1px solid #ffaaaa;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
{% endblock %}
